<div class="container">
    <div class="header">
      Мой новый кошелек
    </div>
  
    <div class="controls">
      <h3>Ваши расходы за неделю</h3>
  
      <button
        tuiButton
        type="button"
        size="xs"
        [appearance]="expanded ? 'secondary' : 'primary'"
        (click)="toggle()">{{ expanded ? '-' : '+' }}
      </button>
    </div>
  
    <app-wallet-add *ngIf="expanded" 
      (add)="addPurchase($event)" 
    >
    </app-wallet-add>
  

    <app-wallet-item *ngFor="let p of purchasesService.purchases"
      [purchase]="p"
      (delete)="delPurchase($event)"
    ></app-wallet-item>

  
    <div class="footer">
      <span class="caption">Итого:&nbsp;</span>
      <strong>{{ purchasesService.summary }}💰</strong>
    </div>
  </div>