<form class="form" [formGroup]="form" (submit)="submit()">
    <div class="tui-form__row">
      <tui-input tuiTextfieldSize="s" formControlName="title">
        Название
      </tui-input>
    </div>
  
    <div class="tui-form__row">
      <tui-input tuiTextfieldSize="s" formControlName="price">
        Стоимость
      </tui-input>
    </div>
  
    <div class="tui-form__row">
      <tui-text-area tuiTextfieldSize="s" formControlName="comment">
        Коментарий
      </tui-text-area>
    </div>
  
    <div class="tui-form__row buttons">
      <button
        [disabled]="form.invalid"
        tuiButton
        class="tui-form__button"
        size="s"
        type="submit">
        Добавить
      </button>
    </div>
  </form>
